<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhdx.www.server.dao.PorderDao">

	<insert id="addPorder" parameterType="java.util.HashMap">
		insert into
		porder( productId, wxId, createTime, num) values
		(#{o.productId}, #{o.wxId}, #{o.createTime}, #{o.num})
	</insert>

	<select id="selectPorderInfoByWxId" parameterType="java.util.HashMap"   resultMap="porderInfoMap"  >
		select  p.productPic, p.productName,o.createTime,o.num
		from product p,porder o
		where p.productId =  o.productId and o.wxId = #{wxId}
		order by o.createTime desc
	</select>

	<select id="selectPorderDetailInfo" parameterType="java.util.HashMap"   resultMap="porderDetailInfoMap"  >
		select  p.productName,u.xiaoqu,u.name,o.createTime
		from product p,porder o,user u
		where p.productId =  o.productId and o.wxId = u.wxId
		order by o.createTime desc
	</select>

	<resultMap type="Porder" id="porderMap">
		<id property="id" column="id" />
		<result property="productId" column="productId" />
		<result property="wxId" column="wxId" />
		<result property="createTime" column="createTime" />
		<result property="num" column="num" />
	</resultMap>

	<resultMap type="PorderInfo" id="porderInfoMap">
		<result property="productPic" column="p.productPic" />
		<result property="productName" column="p.productName" />
		<result property="createTime" column="createTime" />
		<result property="num" column="num" />
	</resultMap>

	<resultMap type="PorderDetailInfo" id="porderDetailInfoMap">
		<result property="productName" column="p.productName"/>
		<result property="xiaoqu" column="u.xiaoqu"/>
		<result property="name" column="u.name"/>
		<result property="createTime" column="o.createTime" />
	</resultMap>
</mapper>